<%= form_for(train) do |f| %>
  <%= render 'common/errors', resource: train %>

  <div class="field">
    <%= f.label :number %>
    <%= f.number_field :number %>
  </div>

  <div class="field">
    <%= f.label :route, "Route" %>
    <%= f.collection_select :route_id, Route.all, :id, :name %>
  </div>

  <div class="field">
    <%= f.label :sort, "Sort from the head:" %>
    <%= f.check_box :sort %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
