<p id="notice"><%= notice %></p>

<p>
  <strong><%= t('.name') %></strong>
  <%= @route.name %>
</p>

<p>
  <% if @route.trains.empty? %>
    <%= t('.no_trains') %>
  <% else %>
    <ul>
      <%= t('.trains_on_route') %>
      <% @route.trains.each do |train| %>
        <li><%= train.number %></li>
      <% end %>
    </ul>
  <% end %>
</p>

<p>
  <% if @route.railway_stations.empty?  %>
    <%= t('.no_stations') %>
  <% else %>
    <table>
      <thead>
        <tr>
          <td width=100px><%= t('.name') %></td>
          <td><%= t('.position') %></td>
          <td><%= t('.departure_time') %></td>
          <td><%= t('.arrival_time') %></td>
        </tr>
      </thead>
      <tbody>
        <% @route.railway_stations.ordered.each do |station| %>
        <tr>
          <td><%= station.title %></td>
          <td>
            <%= form_tag update_position_admin_railway_station_path(station), method: :patch do %>
              <%= number_field_tag :position, station.position_in(@route) %>
              <%= hidden_field_tag :route_id, @route.id %>
              <%= submit_tag t('.submit', action: 'позицию') %>
            <% end %> 
          </td>
          <td>
            <%= form_tag update_departure_admin_railway_station_path(station), method: :patch do %>
              <%= time_field_tag :departure_time, station.departure_in(@route) %>
              <%= hidden_field_tag :route_id, @route.id %>
              <%= submit_tag t('.submit', action: 'время отправления') %>
            <% end %>
          </td>
          <td>
            <%= form_tag update_arrival_admin_railway_station_path(station), method: :patch do %>
              <%= time_field_tag :arrival_time, station.arrival_in(@route) %>
              <%= hidden_field_tag :route_id, @route.id %>
              <%= submit_tag t('.submit', action: 'время прибытия') %>
            <% end %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
</p>

<%= link_to t('common.edit'), edit_admin_route_path(@route) %> |
<%= link_to t('common.back'), admin_routes_path %>
