<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @route.name %>
</p>

<p>
  <% if @route.trains.empty? %>
    Поездов на маршруте нет
  <% else %>
    <ul>
      Поезда на маршруте:
      <% @route.trains.each do |train| %>
        <li><%= train.number %></li>
      <% end %>
    </ul>
  <% end %>
</p>

<p>
  <% if @route.railway_stations.empty?  %>
    Станций в маршруте нет
  <% else %>
    Список станций:
    <ul>
      <% @route.railway_stations.ordered.each do |station| %>
        <li><%= station.title %>
        <%= form_tag(update_position_path(station)) do %>
          <%= label_tag(:position, "Position:") %>
          <%= text_field_tag(:position) %>
          <%= hidden_field_tag(:route_id, @route.id) %>
          <%= submit_tag("Change!") %>
        <% end %> 
          
        </li>
      <% end %>
    </ul>
  <% end %>
</p>

<%= link_to 'Edit', edit_route_path(@route) %> |
<%= link_to 'Back', routes_path %>
