<%= form_for(user) do |f| %>
  <%= render 'common/errors', resource: user %>

  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email%>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
