<%= form_for ticket do |f| %>
  <%= render 'common/errors', resource: ticket %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
