<%= form_for(ticket) do |f| %>
  <%= render 'common/errors', resource: ticket %>

  <div class="field">
    <%= f.label :number %>
    <%= f.number_field :number %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
