<h1>Новый билет</h1>

<h3>Введите информацию о пассажире</h3>
<%= form_for @ticket, class: "form-horizontal" do |f| %>
<%= f.hidden_field :train_id %>
<%= f.hidden_field :start_station_id %>
<%= f.hidden_field :end_station_id %>
<div class="form-group">
  <%= f.label :name, "Имя пассажира" %>
  <%= f.text_field :name%>
</div>
<div class="form-group">
  <%= f.label :passport_info, "Паспортные данные" %>
  <%= f.text_field :passport_info %>
</div>

<%= f.submit "Купить билет", class: "btn btn-primary" %>
<% end %>