<h1>New Ticket</h1>

<p>Enter info about the passenger:</p>
<%= form_for(@ticket) do |f| %>
<%= f.hidden_field :train_id %>
<%= f.hidden_field :start_station_id %>
<%= f.hidden_field :end_station_id %>
<p>
  <%= f.label :name, "Enter passenger's name:" %>
  <%= f.text_field :name%>
</p>
<p>
  <%= f.label :passport_info, "Enter passport info:" %>
  <%= f.text_field :passport_info %>
</p>

<%= f.submit "Buy ticket" %>
<% end %>