<p id="notice"><%= notice %></p>

<table class="table table-striped">
  <thead>
  </thead>

  <tbody>
      <tr>
        <td><strong>Ticket was bought by:</strong></td>
        <td><%= @ticket.user.email %></td>
      </tr>
      <tr>
        <td><strong>Passenger name:</strong></td>
        <td><%= @ticket.name%></td>
      </tr>
      <tr>
        <td><strong>Passport info:</strong></td>
        <td><%= @ticket.passport_info%></td>
      </tr>
      <tr>
        <td><strong>Train number:</strong></td>
        <td><%= @train_number%></td>
      </tr>
      <tr>
        <td><strong>Start station:</strong></td>
        <td><%= @start_station_title%></td>
      </tr>
      <tr>
        <td><strong>End station:</strong></td>
        <td><%= @end_station_title%></td>
      </tr>
      <tr>
        <td><strong>Departure time:</strong></td>
        <td><%= @departure_time%></td>
      </tr>
      <tr>
        <td><strong>Arrival time:</strong></td>
        <td><%= @arrival_time%></td>
      </tr>
  </tbody>
</table>

<%= link_to 'Edit', edit_ticket_path(@ticket) %> |
<%= link_to 'Back', tickets_path %>
