<%= form_for(carriage) do |f| %>
  <% if carriage.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(carriage.errors.count, "error") %> prohibited this cariage from being saved:</h2>

      <ul>
      <% carriage.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :type, 'Carriage type:' %>
    <%= f.select :type, carriage.get_all_types_invert %>
  </div>

  <div class="field">
    <%= f.label :up_seats, 'Up seats number:' %>
    <%= f.number_field :up_seats %>
  </div>

  <div class="field">
    <%= f.label :down_seats, 'Down seats number:' %>
    <%= f.number_field :down_seats %>
  </div>

  <div class="field">
    <%= f.label :train, "Train" %>
    <%= f.collection_select :train_id, Train.all, :id, :number %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
