<%= form_for [:admin, train] do |f| %>
  <%= render 'common/errors', resource: train %>

  <div class="form-group col-md-3">
    <%= f.label :number %>
    <%= f.number_field :number, class: "form-control" %>
  </div>

  <div class="form-group col-md-3">
    <%= f.label :route %>
    <%= f.collection_select :route_id, Route.all, :id, :name, class: "form-control" %>
  </div>

  <div class="form-group col-md-3">
    <%= f.label :sort, "Отсортировать с головы:" %>
    <%= f.check_box :sort, class: "form-control" %>
  </div>

  <div class="actions col-md-3">
    </br>
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>
