<p id="notice"><%= notice %></p>

<h3>Информация о поезде</h3>
<table class="table table-striped">
  <tbody>
    <tr>
      <td>Номер:</td>
      <td><%= @train.number %></td>
    </tr>
    <tr>
      <td>Маршрут:</td>
      <td>
        <% if @train.route.present? %>
          <%= @train.route.name %>
        <% else %>
         Нет маршрута
        <% end %>
      </td>
    </tr>
    <tr>
      <td>Номера вагонов в поезде:</td>
      <td>
        <% @train.carriages.ordered(@train.sort).each do |carriage| %>
          <%= link_to "#{carriage.number}", admin_carriage_path(carriage) %>
        <% end %>
      </td>
    </tr>
    
  </tbody>
</table>

  <%= link_to "Добавить вагон", new_admin_train_carriage_path(@train) %> | 
<%= link_to t('common.edit'), edit_admin_train_path(@train) %> |
<%= link_to t('common.back'), admin_trains_path %>
